<head>
    <title>Homepage</title>
</head>

<div class ='gridContainer'>
    <div class='title gridItem'>
        <h1>Welcome to Shayne's World</h1>
        <h2>A culmination of everything that I do during my daily life</h2>
        <p>This website is made with Angular 5 with Sass for preprocessed styles!</p>
    </div>
    <div class='left gridItem'>
        <p>This website is new and constantly changing, there are bugs that need to be fixed...</p>
    </div>
    <div class='right gridItem'>
        <p>Currently The loading page when you land needs to be centered.</p>
    </div>
    <div class='bottom gridItem'>
        <h3>Use the navbar above to learn about myself and what I've been up to!</h3>
    </div>
</div>
