p{
    color: grey;
    font-family: "Courier";
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.blank{
    opacity: 0;
}


.fadeOut{
    opacity: 0;
    transition: 1s ease-in-out;
}

.fadeIn{
    opacity: 1;
    transition: 1s ease-in-out;
}