.gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
            "left right";
    min-height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.gridItem{
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.left{
    grid-area: left;
    background: rgba(51, 51, 51, 0.5);
    text-align: center;
}

.left img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}

.right{
    grid-area: right;
    background: rgba(0, 139, 139, 0.5);
}

@media screen and (max-width: 700px) {
    .gridContainer{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
                "left"
                "right";
        min-height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .left img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 25px;
        max-width: 100px;
        max-height: 100px;
        padding: 10px;
    }
}