<div class="topnav" id="myTopnav">
    <a [routerLink] = "['']" class="active">Home</a>
    <a [routerLink] = "['\About']">About</a>
    <a [routerLink] = "['\Blog']">Blog</a>
    <div class="dropdown">
        <button class="dropbtn">Web <strong>&#8623;</strong></button>
        <div class="dropdown-content">
            <a href="https://github.com/prests" target='_blank'>Github</a>
            <a href="https://www.linkedin.com/in/shayne-preston-131228131/" target='_blank'>LinkedIn</a>
            <a href="https://gitlab.com/prests" target='_blank'>Gitlab</a>
        </div>
    </div> 
    <div class="dropdown">
        <button class="dropbtn">Social <strong>&#8623;</strong></button>
        <div class="dropdown-content">
            <a href="https://open.spotify.com/user/121592825?si=ZLO-CfuUS-W5kCCwPzsLqQ" target='_blank'>Spotify</a>
            <a href="https://soundcloud.com/pandemic2all" target='_blank'>Soundcloud</a>
        </div>
    </div>
    <a href="mailto:prests@rpi.edu" target='_blank'>Email: prests@rpi.edu</a>
    <div class="dropdown">
        <button class="dropbtn">Resume <strong>&#8623;</strong></button>
        <div class="dropdown-content">
            <a [href]="'assets/Shayne Preston - Resume Fall 2018.pdf'" target='_blank'>Browser View</a> 
            <a [href]="'assets/Shayne Preston - Resume Fall 2018.pdf'" download="Shayne Preston - Resume Fall 2018">Download PDF</a>
        </div>
    </div>
    <!--<a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="reactive()">&#9776;</a>--->
    <a href="#" style="font-size:15px;" class="icon" (click)="reactive()">&#9776;</a>
  </div>
