<!--<div [ngClass]="loaded ? 'load' : 'notLoad'">-->
<body [ngClass] = "loaded ? 'testLoaded' : 'testNotLoaded'">
    <div *ngIf = '!loaded'> 
        <div [ngClass] = "display ? 'fadeIn' : 'blank'">
            <div [ngClass] = "fade ? 'fadeOut' : 'fadeIn'">
                <p>Shayne's Website</p>
            </div>
        </div>
    </div>
    <div *ngIf = 'loaded'>
        <div class="main-content">
            <div [ngClass] = "{'blank' : !loaded}">
                <navbar></navbar>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!--
    <div *ngIf = 'loaded'>
        <div class="footbar">
            <footbar></footbar>
        </div>
    </div>
-->
</body>
<!--</div>-->