@import '../scss/vars';
html{
    background: rgb(37, 37, 37);
}
.testLoaded{
    display: inline-block;
    min-width: 100%;
    min-height: 100vh;
    //background: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.testNotLoaded{
    background: rgb(37, 37, 37);
}

.main-content {
    min-height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 15px;
    color: white; 
}

.load{
    opacity: 1;
    transition: 1s ease-in-out;
}

.notLoad{
    background: black;
}

p{
    color: darkcyan;
    font-family: "Courier";
    font-size: 40px;
    text-align: center;
}

.blank{
    opacity: 0;
    background: rgb(37, 37, 37);
}


.fadeOut{
    opacity: 0;
    transition: 1s ease-in-out;
    display: block;
    top: 50%;
    left: 50%;
}

.fadeIn{
    opacity: 1;
    transition: 1s ease-in-out;
    display: block;
    top: 50%;
    left: 50%;
}