@import '../scss/vars';

html{
    height: 100%;
}

body{
    background: rgba(37, 37, 37, 0.973);
}

.main-content {
    padding: 15px;
    color: white;
}

.load{
    opacity: 1;
    transition: 1s ease-in-out;
}

.notLoad{
    background: black;
}

p{
    color: darkcyan;
    font-family: "Courier";
    font-size: 40px;
    text-align: center;
}

.blank{
    opacity: 0;
}


.fadeOut{
    opacity: 0;
    transition: 1s ease-in-out;
    display: block;
    top: 50%;
    left: 50%;
}

.fadeIn{
    opacity: 1;
    transition: 1s ease-in-out;
    display: block;
    top: 50%;
    left: 50%;
}