.gridContainer{
    display: grid;
    grid-template: auto;
    min-height: 100%;
    width: 100%;
}

.gridItem{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: rgb(97,152,142);
}

.grey{
    background: rgb(90, 90, 90);
}

.darkCyan{
    background: darkcyan;
}

.motto{
    text-align: center;
}

.blogText{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.blogTextAppear{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s all ease-in-out;
}