html{
    background: rgba(37, 37, 37, 0.973); 
    height: 100%; 
}

.gridContainer{
    overflow: auto;
    display: grid;
    grid-template: auto;
    z-index: 10;
}

.gridItem{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: rgb(97,152,142);
}

.grey{
    background: rgba(90, 90, 90, 0.5);
}

.darkCyan{
    background: rgba(0, 139, 139, 0.5);
}

.motto{
    text-align: center;
}

.blogText{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.blogTextAppear{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s all ease-in-out;
}

img{
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
    border-radius: 25px;
    transition: 1 all ease-in-out;
}

img:hover{
    max-width: 400px;
    max-height: 400px;
    transition: 1 all ease-in-out;
}

@media screen and (max-width: 700px) {
    img{
        max-width: 150px;
        max-height: 150px;
        padding: 10px;
        border-radius: 25px;  
    }

    img:hover{
        max-width: 150px;
        max-height: 150px;
    }
}