<div class = 'gridContainer'>
    <div class='gridItem motto darkCyan'>
        <h1>Here is a culmination of events in my life that I thought was worth sharing to all of you!</h1>
        <h2>These events can range from job related to just cool things that happened in my life</h2>
    </div>

    <!--RCOS-->
    <!--Grey-->
    <div class='gridItem grey'>
        <div [ngClass]="scrollDist >= 0 ? 'blogTextAppear' : 'blogText'">
            <h1>Rensselaer Center for Open Source: <a href='https://rcos.io/projects/rushmeteam/rushmeios/profile' target='_blank'><u>RushMe Team</u></a></h1>
            <h3>September 2018</h3>
            <p>This fall I joined an open source project called RushMe. The premise of rushMe is so unaffiliated students who are interested in recruitment for fraternities can learn about all the fraternities on campus from their smartphone. The app lists all the fraternities and when their recruitment events are. The iPhone version is supposed to be released within the next week! I am working on the Android team, which is RushMe's newest addition to the project. My partner and I are working to make the user interface look similar to the iOS app, while connecting the frontend to an AWS backend. Be on the lookout in the app store for RushMe in the next week, and we hope to have the Android version out for Spring 2019 rush!</p>
        </div>
    </div>

    <!--VR-->
    <!--Dark Cyan-->
    <div class='gridItem darkCyan'>
        <div [ngClass]="scrollDist >= 0 ? 'blogTextAppear' : 'blogText'">
            <h1>Rensselaer's Chemical Engineering Department: <a href='http://ccc-rpi.org/place/craive-lab/' target='_blank'><u>Virtual Reality Developer</u></a></h1>
            <h3>July 2018</h3>
            <p>Over the summer I picked up a new project working for Rensselaer's Chemical Engineering Department doing virtual reality. This is one of my more interesting projects to work on, because although it is a software job, the team is all chemical engineers besides myself. The goal of this project is to simulate an actual chemical plant with the purpose of teaching young chemical engineering students how to start, maintain, and close a plant. It is impractical to build an actual plant because of cost, and too dangerous to take kids to one and have them run it on their own. This project gives them an educational aspect that is safe and entertaining.</p>
        </div>
    </div>

    <!--Bears-->
    <!--Grey-->
    <div class='gridItem grey'>
        <div [ngClass]="scrollDist >= 0 ? 'blogTextAppear' : 'blogText'">
            <h1>Trouble in Paradise!</h1>
            <h3>July 2018</h3>
            <p>My summer job in high school was working as a maintenance worker at a local swim and tennis club. The jobs involved landscapping, cleaning, and maintaining the club, but last summer there was a suprise guest...bears!</p>
        </div>
    </div>

    <!--SunshineMD-->
    <!--Dark Cyan-->
    <div class='gridItem grey'>
        <div [ngClass]="scrollDist >= 0 ? 'blogTextAppear' : 'blogText'">
            <h1>Full Stack Web Developer: <a href='https://sunshine-md.com/' target='_blank'>SunshineMD</a></h1>
            <h3>January 2018</h3>
            <p>During my second semester as a junior at Rensselaer Polytechnic Institute I picked up a part time job building a web API for a medical startup. The goal of this was to allow people to find the best doctor in their area based on the research that they had done. Our backend had databases of over 3 million studies and growing. Our job was to parse these studies and group doctors to be displayed on a webpage. I mainly worked on the frontend but I did have some experience linking the backend. For the frontend I used Angular 5 which helped teach my how to make this site!</p>
        </div>
    </div>

    <!--DJing-->
    <!--Grey-->
    <div class='gridItem grey'>
        <div [ngClass]="scrollDist >= 0 ? 'blogTextAppear' : 'blogText'">
            <h1>DJing Gig</h1>
            <h3>October 2017</h3>
            <p>Here's a picture of me behind the decks at a Halloween themed party that I got to DJ at. This was a blast playing for everyone.</p>
        </div>
    </div>

    <!--New Post here-->
</div>
